<%- include partials/header.ejs %>

    <h1>Survey Site - Surveys</h1>
<ul>
<% for(var i =0; i<survey.length; i++) { %>
  
 <li><a href=""><%=survey[i].surveyTitle %></a></li>
  <li><%=survey[i].surveyQuestion %></li>
   <li><%=survey[i].surveyQuestion2 %></li>
    <li><%=survey[i].surveyQuestion3 %></li>
     <li><%=survey[i].surveyQuestion4 %></li>
      <li><%=survey[i].surveyQuestion5 %></li>
      </br>
  
  <% } %>
  
  
  </ul>
  </body>
</html>
