<!--this is the template for displaying the surveys-->
<%- include partials/header.ejs %>

  <h1>Survey Site - Surveys</h1>



  <div class="col-sm-6"> 
    <h3>True/False Surveys</h3>
    <div class="well"> 
    <form>
    <ul class="list-group">
      <!--Display the true false surveys-->
      <% for(var i =0; i<survey.length; i++) { %>

 
      <li class="list-group-item list-group-item-info"><a href="/surveyTake/<%= survey[i]._id %>"><%= survey[i].surveyTitle %></a></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>
      </br>
  
      <% } %>
    </ul>
  </form>
    </div>
  </div>

 <div class="col-sm-6"> 
   <h3>Short Answer Surveys</h3>
    <div class="well"> 
    <ul class="list-group">
      <!--Display the short answer surveys-->
      <% for(var i =0; i<survey.length; i++) { %>
  
      <li class="list-group-item list-group-item-info"><%= survey[i].surveyTitle %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>
      </br>
  
      <% } %>
    </ul>
    </div>
  </div>

  </body>
</html>
