<%- include partials/header.ejs %>

    <h1>Survey Site - Surveys</h1>
<ul>
<% for(var i =0; i<survey.length; i++) { %>
  
<<<<<<< HEAD
  <div class="panel panel-default">
    <div class="panel-body">
 <li><%=survey[i].surveyTitle %></li>
 </div>
 </div>
  
=======
 <li><%= survey[i].surveyTitle %></li>
  <li><%=survey[i].surveyQuestion %></li>
   <li><%=survey[i].surveyQuestion2 %></li>
    <li><%=survey[i].surveyQuestion3 %></li>
     <li><%=survey[i].surveyQuestion4 %></li>
      <li><%=survey[i].surveyQuestion5 %></li>
>>>>>>> origin/master
      </br>
  
  <% } %>
  
  
  </ul>
  </body>
</html>
