<%- include partials/header.ejs %>

  <h1>Survey Site - Surveys</h1>



  <div class="col-sm-6"> 
    <h3>True/False Surveys</h3>
    <div class="well"> 
    <form>
    <ul class="list-group">
      <% for(var i =0; i<survey.length; i++) { %>

 
      <li class="list-group-item list-group-item-info"><a href="/surveyTake/<%= survey[i]._id %>"><%= survey[i].surveyTitle %></a></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion %></li>
      <li class="list-group-item">
        <input type="radio" name="true" value="true" id="truebutton1"/>
        <label for="truebutton1">True</label>
        <input type="radio" name="true" value="false" id="falsebutton1"/>
        <label for="falsebutton1">False</label>
      </li>
      <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>
      <li class="list-group-item">
      <form>
        <input type="radio" name="true" value="true" id="truebutton2"/>
        <label for="truebutton1">True</label>
        <input type="radio" name="true" value="false" id="falsebutton2"/>
        <label for="falsebutton1">False</label>
      </form>
      </li>
      <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>
      <li class="list-group-item">
      <form>
        <input type="radio" name="true" value="true" id="truebutton3"/>
        <label for="truebutton1">True</label>
        <input type="radio" name="true" value="false" id="falsebutton3"/>
        <label for="falsebutton1">False</label>
      </form>
      </li>
      <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>
      <li class="list-group-item">
      <form>
        <input type="radio" name="true" value="true" id="truebutton4"/>
        <label for="truebutton1">True</label>
        <input type="radio" name="true" value="false" id="falsebutton4"/>
        <label for="falsebutton1">False</label>
      </form>
      </li>
      <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>
      <li class="list-group-item">
      <form>
        <input type="radio" name="true" value="true" id="truebutton5"/>
        <label for="truebutton1">True</label>
        <input type="radio" name="true" value="false" id="falsebutton5"/>
        <label for="falsebutton1">False</label>
      </form>
      </li>
      </br>
  
      <% } %>
    </ul>
  </form>
    </div>
  </div>

 <div class="col-sm-6"> 
   <h3>Short Answer Surveys</h3>
    <div class="well"> 
    <ul class="list-group">
      <% for(var i =0; i<survey.length; i++) { %>
  
      <li class="list-group-item list-group-item-info"><%= survey[i].surveyTitle %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>
      <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>
      </br>
  
      <% } %>
    </ul>
    </div>
  </div>

  </body>
</html>
