<%- include partials/header.ejs %>

    <h1>Survey Site - Survey Take</h1>

    <ul class="list-group">
    	<% for(var i = 0; i < survey.length; i++) { %>

      			<% if(id == survey[i]._id){ %>

              <form method="post">
    				    <li class="list-group-item list-group-item-info"><%= survey[i].surveyTitle %></li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion %></li>

                <input type="radio" name="true" value="true" id="truebutton1"/>
                <label for="truebutton1">True</label>
                <input type="radio" name="true" value="false" id="falsebutton1"/>
                <label for="falsebutton1">False</label>

      				  <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>

                <input type="radio" name="true" value="true" id="truebutton1"/>
                <label for="truebutton1">True</label>
                <input type="radio" name="true" value="false" id="falsebutton1"/>
                <label for="falsebutton1">False</label>

      				  <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>

                <input type="radio" name="true" value="true" id="truebutton1"/>
                <label for="truebutton1">True</label>
                <input type="radio" name="true" value="false" id="falsebutton1"/>
                <label for="falsebutton1">False</label>

      				  <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>

                <input type="radio" name="true" value="true" id="truebutton1"/>
                <label for="truebutton1">True</label>
                <input type="radio" name="true" value="false" id="falsebutton1"/>
                <label for="falsebutton1">False</label>

      				  <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>

                <input type="radio" name="true" value="true" id="truebutton1"/>
                <label for="truebutton1">True</label>
                <input type="radio" name="true" value="false" id="falsebutton1"/>
                <label for="falsebutton1">False</label>
                
              <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Create Survey"/>
              </fieldset>
              </form>
      			<% } %>
    	<% } %>

    </ul>
  </body>
</html>
