<%- include partials/header.ejs %>

    <h1>Survey Site - Survey Take</h1>

    <ul class="list-group">
    	<% for(var i = 0; i < survey.length; i++) { %>

      			<% if(id == survey[i]._id){ %>

              <form method="post">

    				    <li class="list-group-item list-group-item-info"><%= survey[i].surveyTitle %></li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion %></li>
                <li class="list-group-item">
                <input type="radio" name="true1" value="true" id="truebutton1"/>
                <label for="truebutton1">True</label>
                <input type="radio" name="false1" value="false" id="falsebutton1"/>
                <label for="falsebutton1">False</label>
                </li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>
                <li class="list-group-item">
                <input type="radio" name="true2" value="true" id="truebutton2"/>
                <label for="truebutton2">True</label>
                <input type="radio" name="false2" value="false" id="falsebutton2"/>
                <label for="falsebutton2">False</label>
                </li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>
                <li class="list-group-item">
                <input type="radio" name="true3" value="true" id="truebutton3"/>
                <label for="truebutton3">True</label>
                <input type="radio" name="false3" value="false" id="falsebutton3"/>
                <label for="falsebutton3">False</label>
                </li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>
                <li class="list-group-item">
                <input type="radio" name="true4" value="true" id="truebutton4"/>
                <label for="truebutton4">True</label>
                <input type="radio" name="false4" value="false" id="falsebutton4"/>
                <label for="falsebutton4">False</label>
                </li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>
                <li class="list-group-item">
                <input type="radio" name="true5" value="true" id="truebutton5"/>
                <label for="truebutton5">True</label>
                <input type="radio" name="false5" value="false" id="falsebutton5"/>
                <label for="falsebutton5">False</label>
                </li>
              <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Submit Survey"/>
              </fieldset>
              </form>
      			<% } %>
    	<% } %>

    </ul>
  </body>
</html>
