<%- include partials/header.ejs %>

    <h1>Survey Site - Survey Take</h1>

    <ul class="list-group">
    	<% for(var i = 0; i < survey.length; i++) { %>

      			<% if(id == survey[i]._id){ %>

              <form method="post">
    				    <li class="list-group-item list-group-item-info"><%= survey[i].surveyTitle %></li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion %></li>

                <fieldset class="form-group">
                  <li>
                    <input type="radio" name="surveyAnswer1True"  value="True"  class="form-control" required autofocus />
                    <label for="aurveyAnswer1True">True</label>
                  <input type="radio" name="surveyAnswer1False"  value="False"  class="form-control" /></li>
                </fieldset>

      				  <li class="list-group-item"><%=survey[i].surveyQuestion2 %></li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion3 %></li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion4 %></li>
      				  <li class="list-group-item"><%=survey[i].surveyQuestion5 %></li>
              <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Create Survey"/>
              </fieldset>
              </form>
      			<% } %>
    	<% } %>

    </ul>
  </body>
</html>
